> ### Note on Labs and Assignments:
>
> üîß Look for the **wrench emoji** üîß ‚Äî it highlights where you're expected to take action!
>
> These sections are graded and are not optional.
>

# IS 4487 Lab 2

## Outline

- Loading installed packages
- Inspect data
- Filter, sort and aggregate the data

<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Labs/lab_02_dataframe_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

More information:
- Learn more about Colab here:  https://research.google.com/colaboratory/faq.html
- Learn more about Pandas here: https://pandas.pydata.org/docs/user_guide/10min.html

### Context: Motor Trend Car Road Tests
This example uses a small set of data from the 1970s with road tests from cars.  This is the classic dataset that statisticians have been using for the last 50 years to learn to work with data.  

| Column | Description                              |
| ------ | ---------------------------------------- |
| mpg    | Miles per gallon (fuel efficiency)       |
| cyl    | Number of cylinders                      |
| disp   | Displacement (cu. in.)                   |
| hp     | Gross horsepower                         |
| drat   | Rear axle ratio                          |
| wt     | Weight (1000 lbs)                        |
| qsec   | ¬º mile time                              |
| vs     | Engine type (0 = V-shaped, 1 = straight) |
| am     | Transmission (0 = automatic, 1 = manual) |
| gear   | Number of forward gears                  |
| carb   | Number of carburetors                    |


Your task is to import the data into a dataframe and learn to work with it as you would an Excel sheet.


## Load Libraries

In this assignment we will be using
- Pandas

We can pull sample data from
- statsmodels.api

In [1]:
import pandas as pd
import statsmodels.api as sm

## Getting data into Pandas

In this case we will load data from the statsmodels.org library

MTCARS is a traditional dataset used for learning.

In [ ]:
mtcars = sm.datasets.get_rdataset("mtcars", "datasets", cache=True).data
df = pd.DataFrame(mtcars)
df['carmodel'] = df.index
print(df)

## Preview Data

In [ ]:
#look at top rows
df.head(10)

In [ ]:
#get a summary of the dataset
df.describe()

### üîß Try It Yourself: Task 1 - Work with DataFrame

üîß Assignment Tasks - Practice selecting specific rows and columns.
- 1.1 Extract the mpg (miles per gallon) column and calculate its mean.
- 1.2 Create a new dataframe containing only the rows where mpg is greater than 25.
- 1.3 Create a new dataframe with rows with the number of cylinders (cyl) is 4.  Include only the columns mpg and hp.

In [8]:
#Your code goes here üîß
mpg_mean = df['mpg'].mean()
print(mpg_mean)

20.090625000000003

In [9]:
df_mpg25 = df[df['mpg'] > 25]
print(df_mpg25)

                 mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb  \
rownames
Fiat 128        32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
Honda Civic     30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
Fiat X1-9       27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
Porsche 914-2   26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
Lotus Europa    30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2

                      carmodel
rownames
Fiat 128              Fiat 128
Honda Civic        Honda Civic
Toyota Corolla  Toyota Corolla
Fiat X1-9            Fiat X1-9
Porsche 914-2    Porsche 914-2
Lotus Europa      Lotus Europa

In [10]:
cyl4 = df[df['cyl'] == 4]
cyl4 = cyl4[['mpg', 'hp']]
print(cyl4)

                 mpg   hp
rownames
Datsun 710      22.8   93
Merc 240D       24.4   62
Merc 230        22.8   95
Fiat 128        32.4   66
Honda Civic     30.4   52
Toyota Corolla  33.9   65
Toyota Corona   21.5   97
Fiat X1-9       27.3   66
Porsche 914-2   26.0   91
Lotus Europa    30.4  113
Volvo 142E      21.4  109


### üîß Try It Yourself - Task 2 - Introduce derived columns.
- 2.1 Create a new column power_to_weight_ratio as hp / wt (horsepower divided by weight).

In [11]:
#Your code goes hereüîß
df['power_to_weight_ratio'] = df['hp'] / df['wt']
print(df)

                      mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
rownames
Mazda RX4            21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
Mazda RX4 Wag        21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
Datsun 710           22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
Hornet 4 Drive       21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
Hornet Sportabout    18.7    8  360.0  175  3.15  3.440  17.02   0   0     3
Valiant              18.1    6  225.0  105  2.76  3.460  20.22   1   0     3
Duster 360           14.3    8  360.0  245  3.21  3.570  15.84   0   0     3
Merc 240D            24.4    4  146.7   62  3.69  3.190  20.00   1   0     4
Merc 230             22.8    4  140.8   95  3.92  3.150  22.90   1   0     4
Merc 280             19.2    6  167.6  123  3.92  3.440  18.30   1   0     4
Merc 280C            17.8    6  167.6  123  3.92  3.440  18.90   1   0     4
Merc 450SE           16.4    8  275.8  180  3.07  4.070  17.40   0   0     3
Merc 450SL           17.3    8  275.8  180  3.07  3.730  17.60   0   0     3
Merc 450SLC          15.2    8  275.8  180  3.07  3.780  18.00   0   0     3
Cadillac Fleetwood   10.4    8  472.0  205  2.93  5.250  17.98   0   0     3
Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3
Chrysler Imperial    14.7    8  440.0  230  3.23  5.345  17.42   0   0     3
Fiat 128             32.4    4   78.7   66  4.08  2.200  19.47   1   1     4
Honda Civic          30.4    4   75.7   52  4.93  1.615  18.52   1   1     4
Toyota Corolla       33.9    4   71.1   65  4.22  1.835  19.90   1   1     4
Toyota Corona        21.5    4  120.1   97  3.70  2.465  20.01   1   0     3
Dodge Challenger     15.5    8  318.0  150  2.76  3.520  16.87   0   0     3
AMC Javelin          15.2    8  304.0  150  3.15  3.435  17.30   0   0     3
Camaro Z28           13.3    8  350.0  245  3.73  3.840  15.41   0   0     3
Pontiac Firebird     19.2    8  400.0  175  3.08  3.845  17.05   0   0     3
Fiat X1-9            27.3    4   79.0   66  4.08  1.935  18.90   1   1     4
Porsche 914-2        26.0    4  120.3   91  4.43  2.140  16.70   0   1     5
Lotus Europa         30.4    4   95.1  113  3.77  1.513  16.90   1   1     5
Ford Pantera L       15.8    8  351.0  264  4.22  3.170  14.50   0   1     5
Ferrari Dino         19.7    6  145.0  175  3.62  2.770  15.50   0   1     5
Maserati Bora        15.0    8  301.0  335  3.54  3.570  14.60   0   1     5
Volvo 142E           21.4    4  121.0  109  4.11  2.780  18.60   1   1     4

                     carb             carmodel  power_to_weight_ratio
rownames
Mazda RX4               4            Mazda RX4              41.984733
Mazda RX4 Wag           4        Mazda RX4 Wag              38.260870
Datsun 710              1           Datsun 710              40.086207
Hornet 4 Drive          1       Hornet 4 Drive              34.214619
Hornet Sportabout       2    Hornet Sportabout              50.872093
Valiant                 1              Valiant              30.346821
Duster 360              4           Duster 360              68.627451
Merc 240D               2            Merc 240D              19.435737
Merc 230                2             Merc 230              30.158730
Merc 280                4             Merc 280              35.755814
Merc 280C               4            Merc 280C              35.755814
Merc 450SE              3           Merc 450SE              44.226044
Merc 450SL              3           Merc 450SL              48.257373
Merc 450SLC             3          Merc 450SLC              47.619048
Cadillac Fleetwood      4   Cadillac Fleetwood              39.047619
Lincoln Continental     4  Lincoln Continental              39.638643
Chrysler Imperial       4    Chrysler Imperial              43.030870
Fiat 128                1             Fiat 128              30.000000
Honda Civic             2          Honda Civic              32.198142
Toyota Corolla          1       Toyota Corolla              35.422343
Toyota Corona           1        Toyota Corona              39.350913
Dodge Challenger        2     Dodge Challenger              42.613636
AMC Javelin             2          AMC Javelin              43.668122
Camaro Z28              4           Camaro Z28              63.802083
Pontiac Firebird        2     Pontiac Firebird              45.513654
Fiat X1-9               1            Fiat X1-9              34.108527
Porsche 914-2           2        Porsche 914-2              42.523364
Lotus Europa            2         Lotus Europa              74.686054
Ford Pantera L          4       Ford Pantera L              83.280757
Ferrari Dino            6         Ferrari Dino              63.176895
Maserati Bora           8        Maserati Bora              93.837535
Volvo 142E              2           Volvo 142E              39.208633

### üîß Try It Yourself - Task 3 - Summarize data.
- 3.1 Group the data by the number of cylinders (cyl) and calculate the average mpg for each group.
- 3.2 Find the maximum horsepower (hp) for cars in each gear group.

In [12]:
#Your code goes hereüîß
avg_mpg_cyl = df.groupby('cyl')['mpg'].mean()
print(avg_mpg_cyl)

cyl
4    26.663636
6    19.742857
8    15.100000
Name: mpg, dtype: float64

In [13]:
max_hp_gear = df.groupby('gear')['hp'].max()
print(max_hp_gear)

gear
3    245
4    123
5    335
Name: hp, dtype: int64

### üîß Try It Yourself - Task 4 - Sorting Data
- 4.1 Sort the dataframe by mpg in descending order.
- 4.2 Sort the dataframe first by cyl and then by hp.

In [14]:
#Your code goes hereüîß
df.sort_values(by='mpg', ascending=False, inplace=True)
print("Sort the dataframe by mpg in descending order.\n", df)

Sort the dataframe by mpg in descending order.
                       mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
rownames
Toyota Corolla       33.9    4   71.1   65  4.22  1.835  19.90   1   1     4
Fiat 128             32.4    4   78.7   66  4.08  2.200  19.47   1   1     4
Lotus Europa         30.4    4   95.1  113  3.77  1.513  16.90   1   1     5
Honda Civic          30.4    4   75.7   52  4.93  1.615  18.52   1   1     4
Fiat X1-9            27.3    4   79.0   66  4.08  1.935  18.90   1   1     4
Porsche 914-2        26.0    4  120.3   91  4.43  2.140  16.70   0   1     5
Merc 240D            24.4    4  146.7   62  3.69  3.190  20.00   1   0     4
Datsun 710           22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
Merc 230             22.8    4  140.8   95  3.92  3.150  22.90   1   0     4
Toyota Corona        21.5    4  120.1   97  3.70  2.465  20.01   1   0     3
Volvo 142E           21.4    4  121.0  109  4.11  2.780  18.60   1   1     4
Hornet 4 Drive       21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
Mazda RX4            21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
Mazda RX4 Wag        21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
Ferrari Dino         19.7    6  145.0  175  3.62  2.770  15.50   0   1     5
Merc 280             19.2    6  167.6  123  3.92  3.440  18.30   1   0     4
Pontiac Firebird     19.2    8  400.0  175  3.08  3.845  17.05   0   0     3
Hornet Sportabout    18.7    8  360.0  175  3.15  3.440  17.02   0   0     3
Valiant              18.1    6  225.0  105  2.76  3.460  20.22   1   0     3
Merc 280C            17.8    6  167.6  123  3.92  3.440  18.90   1   0     4
Merc 450SL           17.3    8  275.8  180  3.07  3.730  17.60   0   0     3
Merc 450SE           16.4    8  275.8  180  3.07  4.070  17.40   0   0     3
Ford Pantera L       15.8    8  351.0  264  4.22  3.170  14.50   0   1     5
Dodge Challenger     15.5    8  318.0  150  2.76  3.520  16.87   0   0     3
AMC Javelin          15.2    8  304.0  150  3.15  3.435  17.30   0   0     3
Merc 450SLC          15.2    8  275.8  180  3.07  3.780  18.00   0   0     3
Maserati Bora        15.0    8  301.0  335  3.54  3.570  14.60   0   1     5
Chrysler Imperial    14.7    8  440.0  230  3.23  5.345  17.42   0   0     3
Duster 360           14.3    8  360.0  245  3.21  3.570  15.84   0   0     3
Camaro Z28           13.3    8  350.0  245  3.73  3.840  15.41   0   0     3
Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3
Cadillac Fleetwood   10.4    8  472.0  205  2.93  5.250  17.98   0   0     3

                     carb             carmodel  power_to_weight_ratio
rownames
Toyota Corolla          1       Toyota Corolla              35.422343
Fiat 128                1             Fiat 128              30.000000
Lotus Europa            2         Lotus Europa              74.686054
Honda Civic             2          Honda Civic              32.198142
Fiat X1-9               1            Fiat X1-9              34.108527
Porsche 914-2           2        Porsche 914-2              42.523364
Merc 240D               2            Merc 240D              19.435737
Datsun 710              1           Datsun 710              40.086207
Merc 230                2             Merc 230              30.158730
Toyota Corona           1        Toyota Corona              39.350913
Volvo 142E              2           Volvo 142E              39.208633
Hornet 4 Drive          1       Hornet 4 Drive              34.214619
Mazda RX4               4            Mazda RX4              41.984733
Mazda RX4 Wag           4        Mazda RX4 Wag              38.260870
Ferrari Dino            6         Ferrari Dino              63.176895
Merc 280                4             Merc 280              35.755814
Pontiac Firebird        2     Pontiac Firebird              45.513654
Hornet Sportabout       2    Hornet Sportabout              50.872093
Valiant                 1              Valiant              30.346821
Merc 280C               4            Merc 280C              35.755814
Merc 450SL              3           Merc 450SL              48.257373
Merc 450SE              3           Merc 450SE              44.226044
Ford Pantera L          4       Ford Pantera L              83.280757
Dodge Challenger        2     Dodge Challenger              42.613636
AMC Javelin             2          AMC Javelin              43.668122
Merc 450SLC             3          Merc 450SLC              47.619048
Maserati Bora           8        Maserati Bora              93.837535
Chrysler Imperial       4    Chrysler Imperial              43.030870
Duster 360              4           Duster 360              68.627451
Camaro Z28              4           Camaro Z28              63.802083
Lincoln Continental     4  Lincoln Continental              39.638643
Cadillac Fleetwood      4   Cadillac Fleetwood              39.047619

In [15]:
df.sort_values(by=['cyl', 'hp'], inplace=True)
print("Sort the dataframe first by cyl and then by hp.\n", df)

Sort the dataframe first by cyl and then by hp.
                       mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
rownames
Honda Civic          30.4    4   75.7   52  4.93  1.615  18.52   1   1     4
Merc 240D            24.4    4  146.7   62  3.69  3.190  20.00   1   0     4
Toyota Corolla       33.9    4   71.1   65  4.22  1.835  19.90   1   1     4
Fiat 128             32.4    4   78.7   66  4.08  2.200  19.47   1   1     4
Fiat X1-9            27.3    4   79.0   66  4.08  1.935  18.90   1   1     4
Porsche 914-2        26.0    4  120.3   91  4.43  2.140  16.70   0   1     5
Datsun 710           22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
Merc 230             22.8    4  140.8   95  3.92  3.150  22.90   1   0     4
Toyota Corona        21.5    4  120.1   97  3.70  2.465  20.01   1   0     3
Volvo 142E           21.4    4  121.0  109  4.11  2.780  18.60   1   1     4
Lotus Europa         30.4    4   95.1  113  3.77  1.513  16.90   1   1     5
Valiant              18.1    6  225.0  105  2.76  3.460  20.22   1   0     3
Hornet 4 Drive       21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
Mazda RX4            21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
Mazda RX4 Wag        21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
Merc 280             19.2    6  167.6  123  3.92  3.440  18.30   1   0     4
Merc 280C            17.8    6  167.6  123  3.92  3.440  18.90   1   0     4
Ferrari Dino         19.7    6  145.0  175  3.62  2.770  15.50   0   1     5
Dodge Challenger     15.5    8  318.0  150  2.76  3.520  16.87   0   0     3
AMC Javelin          15.2    8  304.0  150  3.15  3.435  17.30   0   0     3
Pontiac Firebird     19.2    8  400.0  175  3.08  3.845  17.05   0   0     3
Hornet Sportabout    18.7    8  360.0  175  3.15  3.440  17.02   0   0     3
Merc 450SL           17.3    8  275.8  180  3.07  3.730  17.60   0   0     3
Merc 450SE           16.4    8  275.8  180  3.07  4.070  17.40   0   0     3
Merc 450SLC          15.2    8  275.8  180  3.07  3.780  18.00   0   0     3
Cadillac Fleetwood   10.4    8  472.0  205  2.93  5.250  17.98   0   0     3
Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3
Chrysler Imperial    14.7    8  440.0  230  3.23  5.345  17.42   0   0     3
Duster 360           14.3    8  360.0  245  3.21  3.570  15.84   0   0     3
Camaro Z28           13.3    8  350.0  245  3.73  3.840  15.41   0   0     3
Ford Pantera L       15.8    8  351.0  264  4.22  3.170  14.50   0   1     5
Maserati Bora        15.0    8  301.0  335  3.54  3.570  14.60   0   1     5

                     carb             carmodel  power_to_weight_ratio
rownames
Honda Civic             2          Honda Civic              32.198142
Merc 240D               2            Merc 240D              19.435737
Toyota Corolla          1       Toyota Corolla              35.422343
Fiat 128                1             Fiat 128              30.000000
Fiat X1-9               1            Fiat X1-9              34.108527
Porsche 914-2           2        Porsche 914-2              42.523364
Datsun 710              1           Datsun 710              40.086207
Merc 230                2             Merc 230              30.158730
Toyota Corona           1        Toyota Corona              39.350913
Volvo 142E              2           Volvo 142E              39.208633
Lotus Europa            2         Lotus Europa              74.686054
Valiant                 1              Valiant              30.346821
Hornet 4 Drive          1       Hornet 4 Drive              34.214619
Mazda RX4               4            Mazda RX4              41.984733
Mazda RX4 Wag           4        Mazda RX4 Wag              38.260870
Merc 280                4             Merc 280              35.755814
Merc 280C               4            Merc 280C              35.755814
Ferrari Dino            6         Ferrari Dino              63.176895
Dodge Challenger        2     Dodge Challenger              42.613636
AMC Javelin             2          AMC Javelin              43.668122
Pontiac Firebird        2     Pontiac Firebird              45.513654
Hornet Sportabout       2    Hornet Sportabout              50.872093
Merc 450SL              3           Merc 450SL              48.257373
Merc 450SE              3           Merc 450SE              44.226044
Merc 450SLC             3          Merc 450SLC              47.619048
Cadillac Fleetwood      4   Cadillac Fleetwood              39.047619
Lincoln Continental     4  Lincoln Continental              39.638643
Chrysler Imperial       4    Chrysler Imperial              43.030870
Duster 360              4           Duster 360              68.627451
Camaro Z28              4           Camaro Z28              63.802083
Ford Pantera L          4       Ford Pantera L              83.280757
Maserati Bora           8        Maserati Bora              93.837535

## Export Your Notebook to Submit in Canvas
- In the top menu, go to File > Download, click "Download .ipynb". Save the file locally with the name *lab_01_LastnameFirstname.ipynb*
- In the left side menu, click the Folder icon, then click the "Upload to Session Storage" icon, and select the above saved file to add it to Colab's temporary Virtual Machine (VM) that allows us to work on our files in Colab.
- Convert the file to HTML using the code below.  You may be asked to approve access to the files
- Find the output file under Files in the left side menu
- Download your HTML file (*lab_01_LastnameFirstname.html*) as your completed lab, to be uploaded to Canvas

In [16]:
!jupyter nbconvert --to html "lab_01_rosolowskievan.ipynb"

[NbConvertApp] WARNING | pattern 'lab_01_rosolowskievan.ipynb' matched no files
This application is used to convert notebook files (*.ipynb)
        to various other formats.

        WARNING: THE COMMANDLINE INTERFACE MAY CHANGE IN FUTURE RELEASES.

Options
=======
The options below are convenience aliases to configurable class-options,
as listed in the "Equivalent to" description-line of the aliases.
To see all configurable class-options for some <cmd>, use:
    <cmd> --help-all

--debug
    set log level to logging.DEBUG (maximize logging output)
    Equivalent to: [--Application.log_level=10]
--show-config
    Show the application's configuration (human-readable format)
    Equivalent to: [--Application.show_config=True]
--show-config-json
    Show the application's configuration (json format)
    Equivalent to: [--Application.show_config_json=True]
--generate-config
    generate default config file
    Equivalent to: [--JupyterApp.generate_config=True]
-y
    Answer yes to any questions instead of prompting.
    Equivalent to: [--JupyterApp.answer_yes=True]
--execute
    Execute the notebook prior to export.
    Equivalent to: [--ExecutePreprocessor.enabled=True]
--allow-errors
    Continue notebook execution even if one of the cells throws an error and include the error message in the cell output (the default behaviour is to abort conversion). This flag is only relevant if '--execute' was specified, too.
    Equivalent to: [--ExecutePreprocessor.allow_errors=True]
--stdin
    read a single notebook file from stdin. Write the resulting notebook with default basename 'notebook.*'
    Equivalent to: [--NbConvertApp.from_stdin=True]
--stdout
    Write notebook output to stdout instead of files.
    Equivalent to: [--NbConvertApp.writer_class=StdoutWriter]
--inplace
    Run nbconvert in place, overwriting the existing notebook (only
            relevant when converting to notebook format)
    Equivalent to: [--NbConvertApp.use_output_suffix=False --NbConvertApp.export_format=notebook --FilesWriter.build_directory=]
--clear-output
    Clear output of current file and save in place,
            overwriting the existing notebook.
    Equivalent to: [--NbConvertApp.use_output_suffix=False --NbConvertApp.export_format=notebook --FilesWriter.build_directory= --ClearOutputPreprocessor.enabled=True]
--coalesce-streams
    Coalesce consecutive stdout and stderr outputs into one stream (within each cell).
    Equivalent to: [--NbConvertApp.use_output_suffix=False --NbConvertApp.export_format=notebook --FilesWriter.build_directory= --CoalesceStreamsPreprocessor.enabled=True]
--no-prompt
    Exclude input and output prompts from converted document.
    Equivalent to: [--TemplateExporter.exclude_input_prompt=True --TemplateExporter.exclude_output_prompt=True]
--no-input
    Exclude input cells and output prompts from converted document.
            This mode is ideal for generating code-free reports.
    Equivalent to: [--TemplateExporter.exclude_output_prompt=True --TemplateExporter.exclude_input=True --TemplateExporter.exclude_input_prompt=True]
--allow-chromium-download
    Whether to allow downloading chromium if no suitable version is found on the system.
    Equivalent to: [--WebPDFExporter.allow_chromium_download=True]
--disable-chromium-sandbox
    Disable chromium security sandbox when converting to PDF..
    Equivalent to: [--WebPDFExporter.disable_sandbox=True]
--show-input
    Shows code input. This flag is only useful for dejavu users.
    Equivalent to: [--TemplateExporter.exclude_input=False]
--embed-images
    Embed the images as base64 dataurls in the output. This flag is only useful for the HTML/WebPDF/Slides exports.
    Equivalent to: [--HTMLExporter.embed_images=True]
--sanitize-html
    Whether the HTML in Markdown cells and cell outputs should be sanitized..
    Equivalent to: [--HTMLExporter.sanitize_html=True]
--log-level=<Enum>
    Set the log level by value or name.
    Choices: any of [0, 10, 20, 30, 40, 50, 'DEBUG', 'INFO', 'WARN', 'ERROR', 'CRITICAL']
    Default: 30
    Equivalent to: [--Application.log_level]
--config=<Unicode>
    Full path of a config file.
    Default: ''
    Equivalent to: [--JupyterApp.config_file]
--to=<Unicode>
    The export format to be used, either one of the built-in formats
            ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'qtpdf', 'qtpng', 'rst', 'script', 'slides', 'webpdf']
            or a dotted object name that represents the import path for an
            ``Exporter`` class
    Default: ''
    Equivalent to: [--NbConvertApp.export_format]
--template=<Unicode>
    Name of the template to use
    Default: ''
    Equivalent to: [--TemplateExporter.template_name]
--template-file=<Unicode>
    Name of the template file to use
    Default: None
    Equivalent to: [--TemplateExporter.template_file]
--theme=<Unicode>
    Template specific theme(e.g. the name of a JupyterLab CSS theme distributed
    as prebuilt extension for the lab template)
    Default: 'light'
    Equivalent to: [--HTMLExporter.theme]
--sanitize_html=<Bool>
    Whether the HTML in Markdown cells and cell outputs should be sanitized.This
    should be set to True by nbviewer or similar tools.
    Default: False
    Equivalent to: [--HTMLExporter.sanitize_html]
--writer=<DottedObjectName>
    Writer class used to write the
                                        results of the conversion
    Default: 'FilesWriter'
    Equivalent to: [--NbConvertApp.writer_class]
--post=<DottedOrNone>
    PostProcessor class used to write the
                                        results of the conversion
    Default: ''
    Equivalent to: [--NbConvertApp.postprocessor_class]
--output=<Unicode>
    Overwrite base name use for output files.
                Supports pattern replacements '{notebook_name}'.
    Default: '{notebook_name}'
    Equivalent to: [--NbConvertApp.output_base]
--output-dir=<Unicode>
    Directory to write output(s) to. Defaults
                                  to output to the directory of each notebook. To recover
                                  previous default behaviour (outputting to the current
                                  working directory) use . as the flag value.
    Default: ''
    Equivalent to: [--FilesWriter.build_directory]
--reveal-prefix=<Unicode>
    The URL prefix for reveal.js (version 3.x).
            This defaults to the reveal CDN, but can be any url pointing to a copy
            of reveal.js.
            For speaker notes to work, this must be a relative path to a local
            copy of reveal.js: e.g., "reveal.js".
            If a relative path is given, it must be a subdirectory of the
            current directory (from which the server is run).
            See the usage documentation
            (https://nbconvert.readthedocs.io/en/latest/usage.html#reveal-js-html-slideshow)
            for more details.
    Default: ''
    Equivalent to: [--SlidesExporter.reveal_url_prefix]
--nbformat=<Enum>
    The nbformat version to write.
            Use this to downgrade notebooks.
    Choices: any of [1, 2, 3, 4]
    Default: 4
    Equivalent to: [--NotebookExporter.nbformat_version]

Examples
--------

    The simplest way to use nbconvert is

            > jupyter nbconvert mynotebook.ipynb --to html

            Options include ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'qtpdf', 'qtpng', 'rst', 'script', 'slides', 'webpdf'].

            > jupyter nbconvert --to latex mynotebook.ipynb

            Both HTML and LaTeX support multiple output templates. LaTeX includes
            'base', 'article' and 'report'.  HTML includes 'basic', 'lab' and
            'classic'. You can specify the flavor of the format used.

            > jupyter nbconvert --to html --template lab mynotebook.ipynb

            You can also pipe the output to stdout, rather than a file

            > jupyter nbconvert mynotebook.ipynb --stdout

            PDF is generated via latex

            > jupyter nbconvert mynotebook.ipynb --to pdf

            You can get (and serve) a Reveal.js-powered slideshow

            > jupyter nbconvert myslides.ipynb --to slides --post serve

            Multiple notebooks can be given at the command line in a couple of
            different ways:

            > jupyter nbconvert notebook*.ipynb
            > jupyter nbconvert notebook1.ipynb notebook2.ipynb

            or you can specify the notebooks list in a config file, containing::

                c.NbConvertApp.notebooks = ["my_notebook.ipynb"]

            > jupyter nbconvert --config mycfg.py

To see all available configurables, use `--help-all`.

## Submit your assignment

- Make sure that all of your output is shown.  If you get the ‚Äúunable to render code block‚Äù error, try refreshing the cache or downloading raw data to manually upload into Colab as a workaround.
- Upload your HTML file to Canvas
- Optionally, save your file in your own GitHub account for future use